html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* ---------------Global Styles----------------- */
  
  body{
  font-family: 'Mukta', sans-serif;
  margin:0;
  line
  }
  .img-right{
    float:right;
  }
  header.primary{
    background-color:#A6BF6F;
    text-align:center;
    text-shadow:1px 1px ##D96D55;
    color:#F2C879;
    /* Long Form */
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    /* T,R,B,L */
    padding: 40px 10px 30px 20px;
    /* Single Value Applies to all sides */
    padding: 40px;
    /* top/bottom | left/light */
    padding: 20px 40px;
  }
  
  header.primary h1{
    font size:5.rem;
    margin:20px 0;
  }
  
  header.primary h1 a {
    color:#ffffff;
    text-decoration:none;
  }
  
  header.primary h2{
  font:6.rem;
    margin:20px auto 50px;
  }
  
  header.primary nav{
    background:#BF7154
      width:90vw;
    maxwidth:900px;
    margin:8px auto;
  }
  header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify
  }
  
  header.primary nav ul li{
    list-style-type:none;
  }
  
  #content{
  display:flex;
  flex direction:row;
  justify-content:space-evenly;
  border-bottom:5px solid #BF7154
  Padding-top:2.8rem;
  border-top:1px solid #A67285
  }
  
  time.post-date{
    text-transform:uppercase;
    color:#F2C879
  }
  
  .post figure{
    margin:0;
  }
  
  .post figure img {
  border: 10px solid #D96D55
  padding:4px;
  border-radius:4px;
  }
  
  .post a{
    color:#A67285
  }
  
  .post a:hover, .post a:hover, {
    text-decoration:none;
  }
  /*Attribute Selector */
  aside[role="complementary"]{
  background color:#A6BF6F;
  color:#F2C879;
  padding:1.4rem;
  }
  
  aside .container{
    display:flex;
    justify-content:space-between;
    flex direction:row;
  }
  
  aside article.widget{
    width:50%;
  }
  
  aside article.widget a:last-of-type{
    color:#D96D55;
    display:block;
    margin-top:25px;
    text-align:right;
  }
  
  aside article.widget a{
    color:#A6BF6F
  }
  
  aside article footer{
    display:none;
  }
  
  #colophon{
  background-color:#A6BF6F
  }
  
  #colophon h6{
    padding:15px;
    margin:0;
    color:#F2C879
    text-align:center
    font-size:2.rem
    text-transform:uppercase;
  }
  
  header.primary{
  background-color: #A6BF6F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
  }
  
  #demo h2{
    border-left:8px solid #A67285;
    padding:12px
  }
  #demo a{
    color:#BF7154;
  }