
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .container {
    max-width: 960px;
    width: 80vw;
    margin: 40px auto;
  }
  
  .img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border: 6px solid #A6BF6F;
    padding: 6px;
    border-radius:5px;
  }
  
  .img-left{
    float:left;
    margin:10px 20px 10px 0;
    border: 6px solid #D96D55;
    padding: 6px;
    border-radius:5px;
  }
  
  .img-center{
    display:block;
    margin:20px auto;
    border: 6px solid #F2C879;
    padding: 6px;
    border-radius:5px;
  }
  
  
  

  img {
    max-width: 100%;
  }
  
 
  
  body {
    font-family: "Mukta", sans-serif;
    margin: 0;
    line-height:1.6rem;
  }
  
  header.primary {
    background-color: #A6BF6F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23172635' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
  
    text-align: center;
    text-shadow: 1px 1px #D96D55;
    color: #F2C879;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
     padding: 40px 10px 30px 20px;
    padding: 45px;
    padding: 23px 43px;
  }
  
  header.primary h1 {
    font-size: 2.6rem;
    margin: 10px 0 20px;
  }
  
  header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
  }
  
  header.primary h2 {
    font-size: 1.6rem;
    /* Top | Left/Right | Bottom */
    margin: 0 auto 40px;
  }
  
  header.primary nav {
    width: 80vw;
    max-width: 900px;
    margin: 25px auto;
  }
  
  header.primary nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  header.primary nav ul li {
    list-style-type: none;
  }
  
  header.primary ul li a {
    color:#BF7154;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 16px;
    border-radius:#BF7154 25px;
    transition: 0.5s;
    border: 1px dashed #D96D55;
  }
  
  header.primary ul li a:hover,
  header.primary ul li a:active {
    background-color: #BF7154;
  }
  
  #intro h2 {
    color:#F2C879;
    border-bottom: 1px dotted #A6BF6F;
  }
  
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px dotted #A67285;
    padding: 2.4rem 0;
    border-top: 1px dotted#A67285;
  }
  
  #content article.post {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 4px;
    font-size: 0.7rem;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  time.post-date,
  figcaption,
  footer.post-meta {
    text-transform: uppercase;
    color:#A67285;
    font-size: 0.6rem;
  }
  
  .post figure {
    margin: 0;
  }
  
  .post figure img {
    border: 4px double #F2C879;
    padding: 6px;
    border-radius: 6px;
  }
  
  .post a {
    color: #A6BF6F;
  }
  
  .post a:hover,
  .post a:active {
    text-decoration: none;
  }
  
  #demo h2{
    border-left: 7.5px solid #A67285;
    padding:10px;
  }
  
  #demo a{
    color:#D96D55;
  }
  
  table{
   border:2px solid #c0c0c0;
   border-collapse:collapse;
   width:100%;
  }
  
  
  
  tr:nth-child(even){
    background-color:#D96D55;
  }
  
  tr:hover{
    background-color:#D96D55
  }
  th{
    background-color:#A67285;
    color:#ffffff;
    padding:10px;
  }
  td{
     border:1px solid #c0c0c0;
     padding:5px;
     width:33%;
     text-align:right;
  }
  
  td:first-of-type{
    text-align:left;
  }
  
  #demo ol{
    list-style-type:upper-alpha;
  }
  
  #demo ul{
    list-style-type:square;
  }
  
  #demo ul ul{
    list-style-type:circle;
  }
  
  #demo dl{
  }
  
  #demo dt{
    font-weight:bold;
  }
  #demo dd{
    margin:0;
  }
  

  dd + dt {
    margin-top:20px;
  }
  
  #demo blockquote{
    background-color: #c0c0c0;
    padding: 20px 40px;
    border:5px double#F2C879;
    border-radius: 6px;
  }
  
  #demo cite{
    display:block;
    font-size:.7rem;
    font-weight:bold;
    text-align:right;
    margin-top:15px;
  }
  
  
  
  
  
  

  aside[role="complementary"] {
    background-color:#D96D55;
    color: #ffffff;
    padding: 1.4rem;
  }
  
  aside .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  aside article.widget {
    width: 45%;
  }
  
  aside article.widget a:last-of-type {
    color: #ffffff;
    display: block;
    margin-top: 25px;
    text-align: right;
  }
  
  aside article.widget a {
    color: #ffffff;
  }
  
  aside article footer {
    display: none;
  }
  
  #colophon {
    background-color:#A6BF6F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"
    );
    }
    #colophon h6 {
    padding: 25px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
  } 
  @media screen and (max-width: 650px) {
    header.primary nav ul {
      flex-direction: column;
    }
    header.primary ul li a {
      display: block;
    }
  
    header.primary nav li {
      margin-bottom: 10px;
    }
  }
  